@import "./partials/leaflet-control-zoom.css";
@import "./partials/side-menu.css";
@import "./partials/content-item-menu-popup.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html, #map {
    width: 100%;
    height: 100%;
    display: flex;

}




/* .titulo-site {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 2px solid #333;
} */

/* .titulo, .link-item-menu {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

.link-item-menu img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

} */